# Build artifacts
*.js
!jest.config.js
*.d.ts

# Node modules
node_modules/

# CDK output
cdk.out/
.cdk.staging/
cdk.context.json

# Ignore CDK build folders
bin/
lib/*.js
lib/*.d.ts

# IDE/editor
.vscode/
.idea/
.DS_Store
